$primary_accent: #1e49ae !default;
$secondary_accent: #0a2c7a !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #ffffff !default;
$f_color: #555b6d !default;
$primary_hover: #2897d8 !default;
$bg_main: linear-gradient(270deg, rgb(14, 30, 62) 0%, rgb(4, 44, 135) 75%);
$bg_second: linear-gradient(-270deg, rgb(27, 55, 139) 0%, rgb(7, 50, 88) 100%);
$text_white: #ffffff !default;