.tag_list .te_slider_img {
    width:100% !important;
}
.te_title_sub_div > h1{
    font-size: 1.7rem !important;
    font-weight: 600;
}

.custom_pager{
    justify-content: center;
}
.custom_card img{
    height:240px !important;
}

.product_name{
    font-size: 1rem;
}

@media only screen and (min-width: 768px){
    .custom_card img{
        height:300px !important;
    }
    .custom_pager{
        justify-content: flex-end;
    }
}