/*
* Copyright 2021 Netaddiction
*/  
.te_offer_div .te_offer_s3_heading{
    display:none;
}

.box_home_img{
    height: 350px;
}

/*FLOATING BUTTON*/
.fab-telegram {
    position:fixed;
    right:5px;
    bottom:30px;
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #0088CC;
    animation: pulse-blue 2s infinite;
}
.fab-telegram > i{
    color: #0088CC;
    font-size: 40px;
    background-image: radial-gradient(at center, var(--white) 45%, transparent 45%);
}

.fab-facebook {
    position:fixed;
    right:5px;
    bottom:75px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width:40px;
    background-color: #3b5998;
    border-radius: 50%;
    box-shadow: 0 0 0 0 #3b5998;
    animation: pulse-blue-dark 2s infinite;
}
.fab-facebook > i{
    color: var(--white);
    font-size: 20px;
}

.fab-instagram {
    position:fixed;
    right:5px;
    bottom:120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width:40px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-radius: 50%;
    box-shadow: 0 0 0 0 #000000;
    animation: pulse-ig 2s infinite;
}
.fab-instagram > img{
    height:20px;
}

@keyframes pulse-blue {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #0088CC;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}
@keyframes pulse-blue-dark {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #3b5998;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}
@keyframes pulse-ig {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #e6683c;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

@media only screen and (min-width: 920px) {
    .te_offer_div .te_offer_s3_heading{
        display:initial;
    }

    .te_search_popover{
        box-shadow: none;
        background-color: #ffffff;
    }
    .fab-telegram {
        right:30px;
        bottom:50px;
        height: 50px;
    }
    .fab-telegram > i{
        font-size: 50px;
    }

    .fab-facebook {
        right:30px;
        bottom:110px;
        height: 50px;
        width:50px;
    }
    .fab-facebook > i{
        font-size: 30px;
    }

    .fab-instagram {
        right:30px;
        bottom:170px;
        height: 50px;
        width:50px;
    }
    .fab-instagram > img{
        height: 30px;
    }
}

@media only screen and (min-width: 1024px){
    .box_home_img{
        height: 500px;
    }
}