.o_portal_navbar > ol{
    border-bottom:1px solid #f5f5f5;
    margin-bottom:20px !important;
}
.o_portal_navbar > ol > li:not(.o_portal_navbar > ol > li:last-child){
    display:none;
}
.o_portal_navbar > ol > li:last-child::before{
    display:none;
}
.o_portal_navbar > ol > li:last-child{
    font-size:25px !important;
    color:var(--secondary);
}

.o_portal_my_doc_table{
    margin-top:40px;
}

.o_portal_my_doc_table th, .o_portal_my_doc_table td{
    background-color:#ffffff !important;
    border:none !important;
}
.o_portal_my_doc_table #pay_partial{
    font-weight: bold;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    border:2px solid var(--primary);
    color: var(--primary);
    background-color: transparent !important;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:10px;
    font-size:14px;
}

.o_portal_my_doc_table td > *{
    font-size:14px !important;
    background-color:transparent !important;
    padding-left:0 !important;
}
.o_portal_my_doc_table td:nth-child(1) > *{
    font-weight: bold;
}
.o_portal_my_doc_table td:nth-child(4) > *{
    color:var(--primary) !important;
}

.o_portal_my_doc_table .row_container_header{
    border:1px solid #eee !important;
    border-bottom:none !important;
    padding:15px 20px 15px 20px !important;
}
.o_portal_my_doc_table .row_container_header > td{
    max-width: 100% !important;
}

.order_product_image_container{
    overflow-x:auto;
    max-width: 75vw;
}

.order_product_image{
    display: inline-flex;
    width:60px;
    height:60px;
    align-items: center;
    justify-content: center;
    background-color: #ededed;
}
.order_product_image img{
    object-fit: contain;
}
.o_portal_my_doc_table .row_container_footer{
    box-shadow: 0 4px 8px 0 rgba(156, 156, 156, 0.1), 0 6px 20px 0 rgba(156, 156, 156, 0.1);
    margin-bottom:40px;
    border:1px solid #eee !important;
    padding:15px 20px 15px 20px !important;
}

#details h3, .o_portal_wrap .o_portal_navbar, .d-print-none, #introduction, .list-group-flush, .o_portal_submenu > li:last-child > span, .o_portal_submenu > .breadcrumb-item + .breadcrumb-item::before, .o_portal_submenu > li:not(.o_portal_submenu > li:last-child){
    display: none !important;
}

.o_portal_submenu > li:last-child{
    font-size: 18px !important;
    font-weight: bold;
    color:#ffffff !important;
}

.o_portal, .o_portal > div{
    background-color: var(--secondary) !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

#informations{
    padding:15px !important;
    box-shadow: 0 4px 8px 0 rgba(156, 156, 156, 0.1), 0 6px 20px 0 rgba(156, 156, 156, 0.1);
    border:1px solid #ededed !important;
}

#sales_order_table{
    box-shadow: 0 4px 8px 0 rgba(156, 156, 156, 0.1), 0 6px 20px 0 rgba(156, 156, 156, 0.1);
    border:1px solid #ededed !important;
}

#informations > div:nth-child(2) > div:first-child{
    display:none;
}

.o_sale_stock_picking{
    margin:20px 0;
}

#sale_order_communication{
    display:none !important;
}

#sale_order_communication > #discussion{
    display:block !important;
}

.order-details-btn{
    border:2px solid var(--primary);
    font-size: 13px;
    font-weight: bold;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    display: inline-block;
    margin-top:0 !important;
    color: var(--primary) !important;
    background-color: #ffffff !important;
}

.o_portal_pager{
    display: flex;
    justify-content: center;
}