body{
	background-color: #D2D7D3;
	/*font-family: Arial, Helvetica, sans-serif;*/
    overflow:auto;
}

a{
	text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}

/********
TOP MENU
********/
#top_menu{
	width: 100%;
	height: 40px;
	background-color: #BDC3C7;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 2px solid #6C7A89;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	line-height:40px;
	color:#6C7A89;
    text-align:center;
}

.top_img{
	height: 25px;
	float:left;
    margin-top:5px;
}

.top_menu{
	float:right;
    text-align:center;
}

.top_title{
    text-transform: uppercase;
}

/**********
SLIDE MENU
**********/

#slide_menu{
	top: 40px;
    position: fixed;
    right: -2px;
    height: 100%;
    background-color: #BDC3C7;
    border-left: 2px solid #6C7A89;
    width: 0;
    z-index: 9;
    text-align:center;
}

.link_menu {
    width: 100%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #6C7A89;
}

.link_menu a{
	color: #6C7A89;
	margin-right: 5px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

/*******
CONTENT
*******/

#content{
	margin-top:45px;
    padding-left:5px;
    padding-right:5px;
    text-align:center;
}

/****
FORM
****/
form label{
	width: 100%;
    display: block;
    text-align: center;
}

input[type="text"],input[type="number"], input[type="tel"]{
	width: 100%;
    margin-top: 10px;
    height: 30px;
    text-align: center;
    -webkit-appearance: none;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}

input[type="submit"],input[type="button"]{
	width: 100%;
    margin-top: 10px;
    height: 30px;
    text-align: center;
	border: none;
    background-color: #BDC3C7;
    -webkit-appearance: none;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 30px;
}

/*****
ERROR
*****/

.error_msg{
	background-color: #EF4836;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
}
.done_msg{
    background-color: #87D37C;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
}
.orange_msg{
    background-color: #F89406;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
}

#close_reverse{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    height: 30px;
    background-color: #BDC3C7;
}

/*****
SEARCH
*****/
#bottom_sub{
	position: fixed;
    bottom: 10px;
    left: 5px;
    right: 5px;
}

.qty{
	color: #EF4836;
    font-weight: bold;
}

.search_title{
	font-weight: bold;
}

/*********
ALLOCATION
*********/

.allocation_list{
    border-bottom: 2px solid;
}


.block{
    border: 2px solid #6C7A89; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.block_title{
    border-bottom: 2px solid #6C7A89;
    padding: 10px;
    font-weight: bold;
    color: #6C7A89;
    background-color: #BDC3C7;
}

.block_content{
    padding: 10px;
    color: black;
}

.batch_link{
    display: block;
    background-color: #BDC3C7;
}

#result{
    margin-top: 10px;
}

#bottom_footer{
    position: fixed;
    bottom: 0;
    background-color: #D2D7D3;
    height: 50px;
    width: 100%;
}

.in_progress{
    background-color: #F89406;
}

